.emacs.d/.mc-lists.el
.emacs.d/.python-environments/
.emacs.d/ac-comphist-competing.dat
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/auto-save/
.emacs.d/bin/
.emacs.d/change_log/
.emacs.d/clang_complete/
.emacs.d/config/builtins.elc
.emacs.d/config/site-lisp.elc
.emacs.d/config/site-lisp/acmode.elc
.emacs.d/config/site-lisp/elscreen-config.elc
.emacs.d/config/site-lisp/evil-config.elc
.emacs.d/config/site-lisp/multiple-cursors-config.elc
.emacs.d/config/site-lisp/my-helm-config.elc
.emacs.d/config/site-lisp/powerline_config.elc
.emacs.d/config/site-lisp/yasnippet_config.elc
.emacs.d/config/site-lisp/yatex-config.elc
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/games/
.emacs.d/init_chart.svg
.emacs.d/init_chart10.svg
.emacs.d/init_chart2.svg
.emacs.d/init_chart3.svg
.emacs.d/init_chart4.svg
.emacs.d/init_chart5.svg
.emacs.d/init_chart6.svg
.emacs.d/init_chart7.svg
.emacs.d/init_chart8.svg
.emacs.d/init_chart9.svg
.emacs.d/irony/
.emacs.d/irony_old/
.emacs.d/lib/acmode/
.emacs.d/lib/themes/README.md
.emacs.d/scratch
.emacs.d/server/
.emacs.d/temp.svg
.ipython/README
.ipython/profile_default/history.sqlite
.ipython/profile_default/security/
.ipython/profile_default/static/custom/custom.css
.jupyter/migrated
.matplotlib/fontList.py3k.cache
.matplotlib/tex.cache/
.emacs.d/semanticdb/
.pkgbuild/nkf/nkf-2.1.3-1-x86_64.pkg.tar.xz
.pkgbuild/nkf/nkf/
.pkgbuild/nkf/pkg/
.pkgbuild/nkf/src/
.emacs.d/config/packages.elc
.emacs.d/config/packages/acmode.elc
.emacs.d/config/packages/elscreen-config.elc
.emacs.d/config/packages/evil-config.elc
.emacs.d/config/packages/multiple-cursors-config.elc
.emacs.d/config/packages/my-helm-config.elc
.emacs.d/config/packages/powerline_config.elc
.emacs.d/config/packages/yasnippet_config.elc
.emacs.d/config/packages/yatex-config.elc
.emacs.d/elisp/ac-irony.elc
.emacs.d/elisp/auto-complete-latex.elc
.emacs.d/elisp/desktop.ini
.emacs.d/elisp/elscreen-server.elc
.emacs.d/elisp/font-latex.elc
.emacs.d/elisp/initchart.elc
.emacs.d/elisp/latex-math-preview.elc
.emacs.d/elisp/mmemo-drive.elc
.emacs.d/elisp/viewer.elc
.emacs.d/elisp/window-layout.elc
.emacs.d/elisp/zen-mind.elc
work/
.pkgbuild/mingw-w64-emacs/emacs-24.4-w32-ime.diff
.pkgbuild/mingw-w64-emacs/emacs-24.5.tar.xz
.pkgbuild/mingw-w64-emacs/emacs-24.5.tar.xz.sig
.pkgbuild/mingw-w64-emacs/mingw-w64-x86_64-emacs-24.5-4-any.pkg.tar.xz
.pkgbuild/mingw-w64-emacs/pkg/
.pkgbuild/mingw-w64-emacs/src/
.emacs.d/places
.emacs.d/recentf
.ipython/profile_default/db/
.emacs.d/config/packages/my-auctex-config.elc
.emacs.d/config/core_config.elc
.emacs.d/config/package_config.elc
.emacs.d/elisp/latex-utils.elc
.pkgbuild/mingw-w64-emacs/config.log
.emacs.d/config/packages/company_config.elc
.emacs.d/tramp
.emacs.d/company-statistics-cache.el
.emacs.d/elisp/meigen-bot.elc
.emacs.d/elisp/my-note.elc
.emacs.d/elscreen
.emacs.d/kkcrc
.jupyter/nbconfig/
.emacs.d/custom.el
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/abbrev_defs
.matplotlib/fontList.cache
.emacs.d/url/
.matplotlib/fontList.json
.jupyter/lab/
.matplotlib/fontlist-v300.json
.matplotlib/fontlist-v310.json
.note/
