[color]
	ui = auto
[alias]
	graph = log --graph --all --oneline --decorate=full
	unstage = reset HEAD --
	last = log -1 HEAD
[core]
	whitespace = cr-at-eol
	autocrlf = true
[include]
    path = .gitconfig.local
