[color]
    ui = auto
[alias]
    graph = log --graph --all --oneline --decorate=full
    unstage = reset HEAD --
    last = log -1 HEAD
    today = "!sh -c 'git log --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"
    yday = "!sh -c 'git log --no-merges --branches=* --date=local --since=day.before.yesterday.midnight --until=midnight --oneline --author=\"`git config --get user.name`\"'"
[core]
    whitespace = cr-at-eol
    autocrlf = input
[include]
    path = .gitconfig.local
[user]
    useConfigOnly = true
[merge]
	tool = vimdiff
