*.elc
.ipython/README
.ipython/profile_default/db/
.ipython/profile_default/history.sqlite
.ipython/profile_default/security/
.ipython/profile_default/static/custom/custom.css
.jupyter/lab/
.jupyter/migrated
.jupyter/nbconfig/
.matplotlib/fontList.cache
.matplotlib/fontList.json
.matplotlib/fontList.py3k.cache
.matplotlib/fontlist-*.json
.matplotlib/tex.cache/
.note/
.pkgbuild/mingw-w64-emacs/config.log
.pkgbuild/mingw-w64-emacs/emacs-24.4-w32-ime.diff
.pkgbuild/mingw-w64-emacs/emacs-24.5.tar.xz
.pkgbuild/mingw-w64-emacs/emacs-24.5.tar.xz.sig
.pkgbuild/mingw-w64-emacs/mingw-w64-x86_64-emacs-24.5-4-any.pkg.tar.xz
.pkgbuild/mingw-w64-emacs/pkg/
.pkgbuild/mingw-w64-emacs/src/
.pkgbuild/nkf/nkf-2.1.3-1-x86_64.pkg.tar.xz
.pkgbuild/nkf/nkf/
.pkgbuild/nkf/pkg/
.pkgbuild/nkf/src/
work/
config/git/config.d/*
config/raycast/extensions
*.sqlite
jupyterlabapputilsextensionannouncements.json
.aider*
!.aider.conf.yml
